.formContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	width: 80%;
}

.title {
	font-size: 24px;
	line-height: 100%;
	margin: 0;
}

.textfields {
	display: flex;
	flex-flow: column nowrap;
	gap: 16px;
}

.secondaryActions {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.actionButtons {
	display: flex;
	flex-flow: column nowrap;
	gap: 16px;
	align-items: center;
	justify-content: center;
}

.formControl { 
	display: flex !important;
	flex-flow: row nowrap !important;
	align-items: center !important;
}

.redirectToRegister {
	text-decoration: underline;
	cursor: pointer;
}

.forgotPassword:visited {
	color: inherit;
}