:root {
	--header-height: 60px;
	--layout-gap: 24px;
	--layout-padding: 16px;
}

.layout {
  display: grid;
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height) - var(--layout-gap));
  grid-template-columns: 240px calc(100% - 240px - var(--layout-gap));
  height: calc(100vh - calc(var(--layout-padding) * 2));
  gap: var(--layout-gap);
	padding: var(--layout-padding);
}

.header {
  grid-column: 1 / 3;
  height: var(--header-height);
}

.aside {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: calc(100% - calc(var(--layout-padding) * 2));
}

.main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - calc(var(--layout-padding) * 2));
}